doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard
    script(src="https://cdn.tailwindcss.com")
    script(src="https://cdn.jsdelivr.net/npm/apexcharts")
    script.
      tailwind.config = {
        darkMode:"class"
      };
    script.
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    style.
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
      body {
        padding: 0;
        margin: 0;
        font-family: 'Inter', sans-serif;
      }
      * {
        box-sizing: border-box;
      }
      @media all and (max-width: 768px){
        aside,.nav-input,.item {
          display: none;
        }
        .nav-input{
          width: 100%;
        }
        .menu{
          display:  block !important;
        }
        .sidebar{
          position: absolute !important;
          overflow-x: hidden !important;
          width: 300px !important;
          height: 100% !important;
        }
        .navbar{
          z-index: 999 !important;
          position: fixed !important;
          width: 100%;
          top: 0;
          left: 0;
        }
        .line{
          position: fixed !important;
          top: 80px !important;
          left: 0;
        }
        
      }
      
  body(class="dark:text-white flex dark:bg-black ")
    // Sidebar
    include includes/sidebar
    // Main Content
    main.w-screen.m-3.mr-4.ml-4
      // Top Bar
      
      include includes/navbar
      div(class="border-b border-gray-600 w-full line")
      div(class=" main-content flex justify-center gap-4 xl:gap-6 pt-3 px-4 lg:px-0  flex-wrap xl:flex-nowrap sm:pt-10 max-w-[90rem] mx-auto w-full")
        // Available Balance Section
        div(class="mt-6 gap-6 flex flex-col w-full")
          div(class="flex flex-col gap-2")
            h2(class="text-xl font-bold") Available Balance
            div(class="grid md:grid-cols-2 grid-cols-1 2xl:grid-cols-3 gap-5  justify-center w-full")
              include includes/card1
              include includes/card2
              include includes/card3
          // Statistics Section
          div(class="h-full flex flex-col gap-2")
            include includes/chart
        div(class="mt-4 gap-2 flex flex-col xl:max-w-md w-full")
          div(class="flex flex-col justify-center gap-4 flex-wrap md:flex-nowrap md:flex-col")
            h2(class="text-xl font-bold") Section
            //Agents
            include includes/agents
            // transaction
            include includes/transactions
      // Latest Users Section
      include includes/latestUser

    script.
      var options = {
        chart: {
          height: 425,
          type: "area",
          animations: {
            easing: "linear",
            speed: 300,
          },
          sparkline: {
            enabled: false,
          },
          brush: {
            enabled: false,
          },
          id: "basic-bar",
          foreColor: "#828294",
          stacked: true,
          toolbar: {
            show: false,
          },
      },

      xaxis: {
        categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999],
        labels: {
          // show: false,
          style: {
            colors: "#828294",
          },
        },
        axisBorder: {
          color: "#828294",
        },
        axisTicks: {
          color: "#828294",
        },
      },
      yaxis: {
        categories: [200, 160, 120, 80, 40, 0],
        labels: {
          style: {
            // hsl(var(--nextui-content1-foreground))
            colors: "#828294",
          },
        },
      },
      tooltip: {
        enabled: false,
      },
      grid: {
        show: true,
        borderColor: "#828294",
        strokeDashArray: 0,
        position: "back",
      },
      stroke: {
        curve: "smooth",
        fill: {
          colors: ["red"],
        },
      },
      // @ts-ignore
      markers: false,
      series: [
          { name: 'Series1', data: [31, 40, 28, 51, 42, 109, 100] },
          { name: 'Series2', data: [11, 32, 45, 32, 34, 52, 41] }
        ]
      };
      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();
      //toggle sidebar
      let menu = document.querySelector('#ham-menu')
      menu.addEventListener("click",function(){
        var sidebar = document.querySelector('.sidebar');

        if(sidebar.style.display==='none')
          sidebar.style.display='block';
        else
          sidebar.style.display='none';
      })

      let user = document.querySelector(".user")
      user.addEventListener("click",function(){
        let userDropdown = document.querySelector(".user-dropdown")
        if(userDropdown.style.display!=='none')
          userDropdown.style.display='none';
        else
          userDropdown.style.display='block';
      })
       
      //- theme dark/light
      var themeToggleDarkIcon = document.getElementById(
        "theme-toggle-dark-icon"
      );
      var themeToggleLightIcon = document.getElementById(
        "theme-toggle-light-icon"
      );

      // Change the icons inside the button based on previous settings
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        themeToggleLightIcon.classList.remove("hidden");
      } else {
        themeToggleDarkIcon.classList.remove("hidden");
      }

      var themeToggleBtn = document.getElementById("theme-toggle");

      themeToggleBtn.addEventListener("click", function () {
        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle("hidden");
        themeToggleLightIcon.classList.toggle("hidden");

        // if set via local storage previously
        if (localStorage.getItem("color-theme")) {
          if (localStorage.getItem("color-theme") === "light") {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
          } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
          }

          // if NOT set via local storage previously
        } else {
          if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
          } else {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
          }
        }
      });

      
      
      
      