
//- agents.pug
.bg-gray-900.rounded-lg.p-6.text-center
  .border-b.border-gray-700.pb-4.mb-4
    .inline-block.px-4.py-2.border-dashed.border-2.border-divider.border-gray-500.rounded-lg
      span.text-default-900.mr-1.font-semibold ⭐
      span.text-default-900.text-xl.font-semibold Agents
  p.text-xs.mb-6 Meet your agenda and see their ranks to get the best results
  .flex.justify-center
    .relative
      img.w-12.h-12.rounded-full.border-2.border-gray-600(src="https://i.pravatar.cc/150?u=a042581f4e29026024d", alt="Agent 1")
    .relative.-ml-4
      img.w-12.h-12.rounded-full.border-2.border-gray-600(src="https://i.pravatar.cc/150?u=a04258a2462d826712d", alt="Agent 2")
    .relative.-ml-4
      img.w-12.h-12.rounded-full.border-2.border-gray-600(src="https://i.pravatar.cc/150?u=a042581f4e29026704d", alt="Agent 3")
    .relative.-ml-4
      img.w-12.h-12.rounded-full.border-2.border-gray-600(src="https://i.pravatar.cc/150?u=a04258114e29026302d", alt="Agent 4")
    .relative.-ml-4
      img.w-12.h-12.rounded-full.border-2.border-gray-600(src="https://i.pravatar.cc/150?u=a04258114e29026702d", alt="Agent 5")
    .relative.-ml-4.bg-gray-700.w-12.h-12.rounded-full.border-2.border-gray-600.flex.items-center.justify-center
      span.text-gray-400 +1