nav(class=" dark:text-white flex items-center p-4 justify-between gap-4" id="nav")
    div(class="hidden menu cursor-pointer" id="ham-menu")
        img(src="../icons/burger-menu.svg" alt="menu")
    div(class="relative nav-input w-full")
        div(class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none")
            img(src="../icons/search.png" width=20 height=20 alt="search")
        input(type="text" id="input-group-1" class="dark:bg-gray-900 bg-gray-100 text-sm rounded-lg block w-full ps-10 p-2.5 pl-8 focus:outline-none" placeholder="Search...")

    div(class="flex items-center space-x-2 justify-between w-6/12")
        img(src="../icons/navbar/feedback-icon.svg" class="item" alt="feedback")
        span.item Feedback?
        img(src="../icons/navbar/notification.png" alt="notify")
        img(src="../icons/navbar/support-icon.svg" class="item"  alt="support")
        img(src="../icons/navbar/github.png"  alt="github")
        
        div(class="relative inline-block text-left")
            div.user
                div.w-10.h-10.rounded-full.overflow-hidden.cursor-pointer
                    img(src='https://i.pravatar.cc/150?u=a042581f4e29026704d' alt="Profile" class="w-full w-10 h-10 h-full object-cover")
            div(class="user-dropdown hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md dark:bg-gray-900 bg-white dark:text-white shadow-lg focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1")
                div(class="py-1" role="none")
                    a(href="#" class="block hover:bg-gray-400 px-4 py-2 text-sm dark:text-white text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0")
                        <p>Signed in as</p>
                        <p>zoey@example.com</p>
                    a(href="#" class="block hover:bg-gray-400 dark:text-white px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1") My Settings
                    a(href="#" class="block hover:bg-gray-400 dark:text-white px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2") Team Settings
                    a(href="#" class="block hover:bg-gray-400 dark:text-white px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1") Analytics
                    a(href="#" class="block hover:bg-gray-400 dark:text-white px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2") System
                    a(href="#" class="block hover:bg-gray-400 dark:text-white  px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1") Configurations
                    a(href="#" class="block hover:bg-gray-400 dark:text-white px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2") Help & Feedback
                    a(href="#" class="block hover:bg-red-600 hover:text-white px-4 py-2 text-sm text-red-500" role="menuitem" tabindex="-1" id="menu-item-2") Log Out
                    button(id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm px-4 py-2")
                        svg(id="theme-toggle-dark-icon" class="hidden w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                            path(d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z")
                        svg(id="theme-toggle-light-icon" class="hidden w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                            path(d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd")