aside(class="dark:bg-black w-1/4 h-screen sticky p-6 z-[20] overflow-y-scroll top-0 max-md:top-16 sidebar" id="sidebar")
      div(class="flex items-center gap-2 justify-center")  
        div(class="flex items-center gap-4 justify-center rounded" style="border:1px solid #1e1e1e") 
          img(src="icons/acme-icon.svg" alt='acme-icon') 
        h3(class="text-xl font-medium ml-0 text-default-900 whitespace-nowrap") Acme Co.
          p.text-gray-400.text-sm.text-center.ml-0 Palo Alto, CA
      nav.mt-10
        ul.space-y-2
          li(class="flex items-center pt-3 pb-3 hover:bg-[rgb(15_23_42/0.3)]")
              img(src="icons/sidebar/home-icon.svg" alt='home')
              a(href="#" class="block py-2 px-4") Home
          li.text-xs.font-normal  Main Menu
          li.flex.items-center
            img(src="icons/sidebar/accounts-icon.svg" alt='accounts')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Accounts
          li.flex.items-center
            img(src="icons/sidebar/payments-icon.svg" alt='payments')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Payments
          li.flex.items-center
            img(src="icons/sidebar/balance-icon.svg" alt='balances')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Balances
          li.flex.items-center
            img(src="icons/sidebar/customers-icon.svg" alt='customers')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Customers
          li.flex.items-center
            img(src="icons/sidebar/products-icon.svg" alt='products')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Products
          li.flex.items-center
            img(src="icons/sidebar/reports-icon.svg" alt='reports')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Reports
          li.text-xs.font-normal  General
          li.flex.items-center
            img(src="icons/sidebar/dev-icon.svg" alt='developers')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Developers
          li.flex.items-center
            img(src="icons/sidebar/view-icon.svg" alt='data')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") View Test Data
          li.flex.items-center
            img(src="icons/sidebar/settings-icon.svg" alt='settings')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Settings
          li.text-xs.font-normal  Updates
          li.flex.items-center
            img(src="icons/sidebar/changelog-icon.svg" alt='changelog')
            a(href="#" class="block py-2 px-4 hover:bg-gray-700") Changelog
        div(class="flex items-center justify-center gap-6 pt-16 pb-8 px-8 md:pt-10 md:pb-0")
          div(class="max-w-fit")
            img(src="../icons/sidebar/settings-icon.svg" width=30 height=30 alt="settings")
          div(class="max-w-fit")
            img(src="../icons/sidebar/filter-icon.svg" width=30 height=30 alt="filter")
          div.w-10.h-10.rounded-full.overflow-hidden.cursor-pointer
            img(src='https://i.pravatar.cc/150?u=a042581f4e29026704d' alt="Profile" class=" w-10 h-10 h-full object-cover")
             
             